@import url(http://fonts.googleapis.com/css?family=Calligraffitti);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,700,700italic);

html, body {
    background-color:#ccc;
    background-image: url( 'image/bg.png' );
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
}

body {
    padding:0 120px;
}

p, li, div.note {
    line-height:1.6em;
    font-size:0.9em;
    font-weight:300;
}

li {
    margin-top:0.5em;
}

ul:first-child, ol:first-child {
    margin-top:0;
}

a {
    text-decoration:none;
    font-weight:bold;
}

a, a:visited {
    color:#611;
}

h1, h2, h3 {
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 1px;
}

h1 {
    border-bottom:1px solid gray;
    margin-top:40px;
}

h2 {
    margin-top:1.4em;
}

#page {
    max-width:940px;
    margin:0 auto 25px auto;
    border:1px solid black;
    background-color:white;
}

header {
    position:relative;
    text-align:center;
    padding:20px 20px 0 20px;
    background-color:white;
    border-bottom:0;
}

#headerBG {
    height:100px;
    background:#fff url(../media/image/wabe.png) no-repeat top left;
}

#headerBG a {
    display:block;
    position:relative;
    left:500px;
    height:100px;
    width:200px;
}

#content, article#content {
    position:relative;
    min-height:200px;
    padding:5px 30px 20px 30px;
    background-color:white;
}

#page, #systemtabs .tab {
    -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0 0 10px rgba(50, 50, 50, 0.5);
    box-shadow:         0 0 10px rgba(50, 50, 50, 0.5);
}

#mainmenu {
    height:40px;
    margin:-19px auto 10px auto;
    line-height:1em;
    list-style:none;
    display:block;
}

#mainmenu li {
    display:block;
    overflow:hidden;
    float:left;
    margin-right:10px;
    padding-top:5px;
    list-style:none;
    background-color:white;
    border:1px solid #ccc;
    border-top:none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 0 0 5px 5px;
}

#mainmenu li a {
    padding:6px 10px 3px 10px;
    font-family: 'Calligraffitti', cursive;
    font-size:17px;
    text-shadow: 0 0 2px rgba(200, 150, 150, 1);
}

#mainmenu .active {
    background-color:transparent;
}

#mainmenu .active a {
    background-color:#ddd;
}

#mainmenu li:not(.active) a:hover {
    background-color:#f0f0f0;
}

#mainmenu:after, #systemtabs:before {
    content:"";
    display:table;
    clear:both;
}

#announcementContainer {
    float:left;
    max-width:500px;
    background:#fff url(../media/image/rabbit.png) no-repeat top right;
    min-height:250px;
    border:1px solid gray;
    margin-top:40px;
    margin-left:20px;
}

#announcement {
    max-width:300px;
    padding-right:200px;
    margin:30px 0 10px 20px;
}

#announcement li {
    line-height:1.6em;
}

#releaseInfo {
    font-size:14px;
}

#summary h2 {
    font-family: 'Calligraffitti', serif;
    font-size:22px;
    text-align:center;
    margin:30px 0;
}

#twitterfeed {
    float:left;
    margin-top:40px;
    margin-left:20px;
    width:250px;
}

#twitterfeed:before,
#twitterfeed:after {
    content:"";
    display:table;
}

#twitterfeed:after {
    clear:both;
}

footer {
    clear:both;
    margin:1em;
}

@media print {
    header { display:none; }
    footer { display:none; }
}

/* Downloads */

.theme-package {
    border:1px solid gray;
    padding:0px 15px;
    margin:15px;
}

.theme-package p, .theme-package ul, .theme-package h4 {
    margin-left:235px;
}

.theme-preview {
    clear:left;
    float:left;
    margin:25px 0 0 10px;
}

#leftPane, #rightPane {
    float:left;
    width:45%;
}

#leftPane {
    border-right:1px solid gray;
    padding-right:15px;
}

#rightPane {
    padding-left:15px;
}

#content.wide {
    max-width: 1400px;
}

/* UUID */

#uuid {
    font-family:sans-serif;
    font-size:22px;
    font-weight:bold;
    letter-spacing:0.1em;
    text-align:center;
    margin: 1em 0;
}


/* I7 examples */

#exampleList h3, h4 {
    margin-top:2em;
}

.dl_links {
    margin:0.8em 0;
}

.dl_links button {
    margin-left:1em;
}

.testme {
    font-size:75%;
}


/* Tabs */

#systemtabs {
    position:absolute;
    white-space:nowrap;
    text-align:left;
    right:-100px;
    top:173px;
    list-style:none;
}

#systemtabs a {
    color:#777;
    display:block;
    font-family:'Calligraffitti', cursive;
    font-size:22px;

    -webkit-transition:color 0.5s;
    transition:color 0.5s;
}

#systemtabs .tab.active a {
    color:#611;
}

#systemtabs .tab {
    display:block;
    background-color:#fff;
    margin:20px 0 0 -10px;
    padding:12px 10px 10px 20px;
    border:1px solid gray;
    border-left:0;

    -moz-transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    transform:rotate(10deg);

    opacity:0.8;

    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s, color 0.5s, opacity 0.5s;
    transition: background-color 0.5s, transform 0.5s, color 0.5s, opacity 0.5s;
}

#systemtabs .tab.active {
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);

    opacity:1;
}


/* I7 examples */

#exampleLinks h3 {
    margin:2em 0 0.5em 0;
}

#exampleLinks h4 {
    margin:2em 0 0.5em 0;
}

#exampleLinks .blurb {
    font-style:italic;
}

#exampleLinks .dl_links {
    margin:0.5em;
}

#exampleLinks .testme .testcommands {
    font-variant:small-caps;
}


/* Media queries */

@media (max-width: 1000px) {
    body {
        padding:0;
    }

    #systemtabs {
        position:static;
    }

    #systemtabs .tab.active a {
        color:#611;
    }

    #systemtabs .tab {
        display:inline-block;
        background-color:#fff;
        border:0;
        margin:20px 0 0 30px;
        padding:0 0 0 0;

        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:0.8;

        -webkit-transition: background-color 0.5s, -webkit-transform 0.5s, color 0.5s, opacity 0.5s;
        transition: background-color 0.5s, transform 0.5s, color 0.5s, opacity 0.5s;
    }

    #systemtabs a {
        display:block;
        font-family: 'Calligraffitti', cursive;
        font-size: 22px;
        padding: 12px 20px 10px 20px;
        margin:0;

        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }
}

@media (max-width:740px) {
    #headerBG {
        background-image:none;
    }

    #headerBG a {
        background:#fff url('../media/image/wabe-reversed.png') no-repeat;
        display:block;
        position:static;
        height:100px;
        width:100%;
    }
}

@media (max-width:520px) {
    #systemtabs .tab {
        display:block;
    }
}